<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="rutaArchivoTarjetas" value="C:\Users\Bangho\Google Drive\Programación\UAI\Primero\Programación 1\TP 2 - Programación 1 - Julián Ryan - 1AN\Tarjetas.txt"/>
		<add key="rutaArchivoTest" value="C:\Users\Bangho\Google Drive\Programación\UAI\Primero\Programación 1\TP 2 - Programación 1 - Julián Ryan - 1AN\Test.txt"/>
		<add key="rutaArchivoConsolidado" value="C:\Users\Bangho\Google Drive\Programación\UAI\Primero\Programación 1\TP 2 - Programación 1 - Julián Ryan - 1AN\Consolidado.txt"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>